{% extends "base.html"%}
{% block content %}
<div class="row align-items-center justify-content-center">
    <div class="col-md-12 ">
        <h1>Register</h1>

        <form action="http://127.0.0.1:5000/signup" method = "post">
                 <p>
                    {{form.firstname.label}}<br>
                    {{form.firstname(size=30)}}
                </p>
                <p>
                    {{form.lastname.label}}<br>
                    {{form.lastname(size=30)}}
                </p>
                <p>
                    {{form.birthdate.label}}<br>
                    {{form.birthdate}}
                </p>
             <p>
                    {{form.email.label}}<br>
                    {{form.email(size=30)}}
                </p>
                <p>
                    {{form.password.label}}<br>
                    {{form.password}}
                </p>
             <p>
                    {{form.confirm.label}}<br>
                    {{form.confirm}}
                </p>
                <p>
                    <br>
                    {{form.submit()}}
                </p>

        </form>
    </div>

</div>

{% endblock %}